extends ../layout.pug
block content 
  h3 
    a(href='/product/create') Create new Product 
  
  h1 List Products
  div 
    input(type="text") 
    
  if product != ''
    div.list_item
      each item in product
        div.box_item
          div.item
            div.box_image
              img(src=`/images/${item.image}`)
            div.box_content
              p.name= item.name
              div.box_price
                p.price #{item.price} đ
                p.quantity Quantity: #{item.quantity}
           
              div.box_btn
                a(href=`/product/delete/${item._id}`)
                  button.delete.btn Delete
                a(href=`/product/update/${item._id}`)
                  button.edit.btn Update
              .review 
                .box_view
                  p.view 2340view
                .boxstar
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i (5)
                
  else 
    div Not Data 

  //- table 
  //-   thead 
  //-     tr
  //-       th ID 
  //-       th Name 
  //-       th Price 
  //-       th Quantity
  //-       th Image
  //-       th Action 
  //-   tbody 
  //-     if product != ''
  //-       each item in product 
  //-         tr 
  //-           td= item._id 
  //-           td= item.name 
  //-           td= item.price 
  //-           td= item.quantity
  //-           td
  //-             img(src=`/images/${item.image}`, alt="")
  //-           td Delete
  //-     else
  //-       tr 
  //-         td(colspan='5') Not Data    
          