extends ../layout.pug
block content
  .box_title
    h1 List Products 
    h3 
      a(href='/product/create') 
        button.btn_create  Create new Product 
  if product != ''
    div.list_item
      each item in product
        div.box_item
          div.item
            div.box_image
              img(src=`/images/${item.image}`)
              .overlay
            div.box_content
              p.name= item.name
              p.id (#{item._id})
              div.box_price
                p.price
                  span
                    u đ
                    |  #{item.price}
                p.quantity Kho hàng: #{item.quantity}
              .review 
                .box_view
                  i.fa-solid.fa-eye  2340
                .box_love
                  i.fa-regular.fa-heart  30
                .box_ds 
                  p Doanh số 5
            div.box_btn
              a(href=`/product/update/${item._id}`)
                button.edit.btn
                  i.fa-solid.fa-wrench.btn_i
              a(href=`/product/delete/${item._id}`)
                button.delete.btn
                  i.fa-solid.fa-trash.btn_i
              
  else 
    div Not Data 

  //- table 
  //-   thead 
  //-     tr
  //-       th ID 
  //-       th Name 
  //-       th Price 
  //-       th Quantity
  //-       th Image
  //-       th Action 
  //-   tbody 
  //-     if product != ''
  //-       each item in product 
  //-         tr 
  //-           td= item._id 
  //-           td= item.name 
  //-           td= item.price 
  //-           td= item.quantity
  //-           td
  //-             img(src=`/images/${item.image}`, alt="")
  //-           td Delete
  //-     else
  //-       tr 
  //-         td(colspan='5') Not Data    
          